<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="mysql"/>
    </properties>
    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="useActualParamName" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
        <package name="com.jd.joyqueue.model.domain" />
        <package name="com.jd.joyqueue.model.query" />
        <package name="com.jd.joyqueue.model" />
    </typeAliases>
    <plugins>
        <plugin interceptor="com.jd.joyqueue.repository.mybatis.interceptor.PageStatementInterceptor"/>
        <plugin interceptor="com.jd.joyqueue.repository.mybatis.interceptor.PageResultInterceptor"/>
    </plugins>

</configuration>
