<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} - %p - %t - %l - %m%n"/>
        </console>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </loggers>
</configuration>