*.iml
.idea/
.vertx/
target/
h2-db-journalq
.classpath
.settings
.project
*.log

# macOS
.DS_Store

.vpp.vbak
.vpp.bak*
.vpp.lck

.version.properties
filter.properties
.factorypath
*.pyc
journalq-console/journalq-web/journalq-web-webroot/src/main/webroot/
