*.iml
.idea/
.vertx/
.vscode/
target/
h2-db-joyqueue
.classpath
.settings
.project
*.log

# macOS
.DS_Store

.vpp.vbak
.vpp.bak*
.vpp.lck

.version.properties
filter.properties
.factorypath
*.pyc
joyqueue-console/joyqueue-web/joyqueue-web-webroot/src/main/webroot/
