<?xml version="1.0" encoding="UTF-8"?>
<!-- 临时 -->
<configuration monitorInterval="30">
    <properties>
        <property name="log_file" value="/export/logs" />
    </properties>
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%t] [%p] - %l - %m%n"/>
        </console>

        <RollingFile name="defaultRollingFile" fileName="${log_file}/error.log"
                     filePattern="${log_file}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%t] [%p] - %l - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="defaultRollingFile"/>
        </root>
        <logger name="org.apache.ignite.internal.IgniteKernal" additivity="false">
            <level value ="OFF"/>
        </logger>
    </loggers>

</configuration>