<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="log_file" value="/export/Logs/joyqueue" />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %boldYellow([%thread]) %highlight(%-5level) %green(%logger{50}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Spring framework logger -->
    <logger name="org.springframework" level="info" />

    <!-- 日志输出级别 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>