<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oms="http://openmessaging.io/schema"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://openmessaging.io/schema
	    http://openmessaging.io/schema/oms.xsd">
    
    <oms:access-point url="oms:joyqueue://test_app@127.0.0.1:50088/UNKNOWN">
        <oms:attribute key="ACCOUNT_KEY" value="test_token"></oms:attribute>
    </oms:access-point>

    <oms:producer id="producer1"></oms:producer>
    <!--<oms:producer id="producer1" listener="org.joyqueue.client.samples.spring.SimpleTransactionStateCheckListener"></oms:producer>-->
    <!--<bean id="producer1" class="org.joyqueue.client.samples.spring.SimpleTransactionStateCheckListener"></bean>-->
    <!--<oms:producer id="producer1" listener-ref="simpleTransactionStateCheckListener"></oms:producer>-->

    <oms:consumer queue-name="test_topic_0" listener="org.joyqueue.client.samples.spring.SimpleMessageListener"></oms:consumer>
    <!--<bean id="testTopic0Listener" class="org.joyqueue.client.samples.spring.SimpleMessageListenertener"></bean>-->
    <!--<oms:consumer queue-name="test_topic_0" listener-ref="testTopic0Listener"></oms:consumer>-->

    <oms:interceptor class="org.joyqueue.client.samples.spring.SimpleConsumerInterceptor"></oms:interceptor>
    <!--<oms:interceptor ref="consumerInterceptor1"></oms:interceptor>-->

    <oms:interceptor class="org.joyqueue.client.samples.spring.SimpleProducerInterceptor"></oms:interceptor>
    <!--<oms:interceptor ref="producerInterceptor1"></oms:interceptor>-->
</beans>