@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0
}

em, i {
  font-style: normal
}

li {
  list-style: none
}

img {
  border: 0;
  vertical-align: middle
}

a, button {
  cursor: pointer
}

ol, ul {
  margin-bottom: 0px;
}

a {
  color: inherit;
}

a, a:hover, del, ins, s, u {
  text-decoration: none
}

button, input {
  font-family: PingFangSC-Medium, Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font: 14px PingFangSC, Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
  color: #000;
  background: #f6f8fc;
}

.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ta-r {
  text-align: right;
}

.ml20 {
  margin-left: 20px;
}
.ml233 {
  margin-left: 233px;
}

.ml583 {
  margin-left: 583px;
}

.ml300 {
  margin-left: 300px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 5px;
}
.mt40 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 5px;
}

.mt7 {
  margin-top: 7px;
}

.mt8 {
  margin-top: 8px;
}

.mt116{
  margin-top: 116px;
}

.mt180{
  margin-top: 180px;
}

.ml10 {
  margin-left: 10px;
}

.mr90 {
  margin-right: 90px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr40 {
  margin-right: 40px;
}
.mr200 {
  margin-right: 200px;
}

.mb36 {
  margin-bottom: 36px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb200 {
  margin-bottom: 200px;
}

.pt97 {
  padding-top: 97px;
}

.pt115 {
  margin-top: 115px;
}

.pb76 {
  padding-bottom: 76px;
}

.pb20 {
  padding-bottom: 20px;
}
.right{
  float: right;
}

.subscribeTd{
  width: 50px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.tableTd{
  min-width: 20px;
}

.headLine{
  margin-right: 20px;
  margin-top: 10px;
}

.headLine2{
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 2px;
}

.button{
  aligin: center;
  margin-right: 10px;
  margin-bottom: 8px
}

.button2{
  aligin: center;
  margin-right: 10px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.input{
  aligin: left;
  margin-right: 10px;
  width: 250px
}

.input2{
  aligin: left;
  margin-right: 10px;
  width: 220px
}

.input3{
  aligin: left;
  margin-right: 10px;
  width: 150px
}

.input4{
  aligin: left;
  margin-right: 10px;
  width: 370px
}
.input5{
  aligin: left;
  margin-right: 10px;
  width: 400px
}
